@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Racing+Sans+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* ==========================
    RESET / PAGE LAYOUT 
=========================== */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "roboto";
	background-color: lightgray;
	text-align: center;
	color: white;
}

body::before {
	content: "";
	background:
		linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.642)),
		url(https://i.postimg.cc/Gp5GZdy1/1750720263_jpg.avif) center/cover
			no-repeat;
	z-index: -1;
	position: fixed;
	inset: 0;
}

/* ==========================
    SELECTED OPTIONS 
=========================== */

.hidden {
	display: none;
}

.correct {
	background-color: rgb(74, 191, 74);
	font-weight: 600;
	color: white;
	box-shadow: 0 1px 4px rgba(218, 218, 218, 0.626);
}

.incorrect {
	background-color: rgb(243, 43, 43);
	color: rgb(34, 34, 34);
	font-style: italic;
}

/* "quiz" */
h1 span {
	font-size: 0.8em;
	font-family: arial;
	font-weight: bold;
	font-style: italic;
}

/* ==========================
    CONTAINERS 
=========================== */

#quiz-container,
#score-container,
#start-container,
#review-container {
	background-color: rgba(42, 42, 42, 0.954);
	width: 50%;
	margin: 80px auto;
	padding: 30px;
	border: none;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
}

#quiz-container h1,
#start-container h1,
#review-container h2 {
	font-size: 2.5em;
	font-family: "racing sans one";
}

#start-container p {
	margin-top: 30px;
	font-size: 1.1em;
	font-weight: 700;
	letter-spacing: 0.5px;
}

/* <==== QUESTIONS ====> */
#progress {
	margin-top: 10px;
	margin-bottom: 35px;
	font-family: monospace;
}

#question-container {
	margin: 20px auto;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0 10px;
	letter-spacing: 0.2px;
}

/* <==== SCORE ====> */
#score-container h2 {
	margin-bottom: 30px;
	font-family: "racing sans one";
	font-size: 2.5em;
} /* "your score" */

#message {
	margin-top: 45px;
	font-weight: 500;
	font-size: 1.8em;
}

#score {
	font-style: italic;
	font-weight: 700;
	font-size: 1.4em;
}

/* <==== REVIEW ====> */
#review-content {
	margin-top: 20px;
}
#review-content p {
	padding: 15px;
	font-family: "roboto";
	font-size: 1em;
	letter-spacing: 0.2px;
}

/* question number */
#review-content h3 {
	padding-bottom: 8px;
	padding-top: 20px;
	font-family: monospace;
	font-size: 1.4em;
}

/* question */
#review-content h4 {
	font-size: 1.1em;
	font-weight: bold;
	letter-spacing: 0.2px;
	margin-bottom: 5px;
}

.correct-answer,
.correct-review-answer,
.incorrect-answer {
	border-radius: 8px;
	border: none;
	margin: 0 40px;
	color: white;
}

.correct-answer,
.correct-review-answer {
	background-color: rgb(74, 191, 74);
	font-weight: 600;
}

.incorrect-answer {
	background-color: rgb(243, 43, 43);
}

.correct-review-answer {
	margin-bottom: 50px;
}

/* ==========================
    BUTTONS 
=========================== */
button {
	margin: 10px auto;
	padding: 9px 20px;
	cursor: pointer;
	display: block;
	background-color: rgba(255, 255, 255, 0.926);
	color: rgb(193, 6, 6);
	border: none;
	font-size: 1em;
	border-radius: 8px;
	margin-bottom: 15px;
	font-weight: 500;
	letter-spacing: 0.2px;
}

#next-button,
#restart-button,
#start-button,
#restart-review-button {
	background-color: rgba(117, 180, 247, 0.71);
	color: white;
	border: none;
	font-weight: 600;
}

#next-button,
#restart-button,
#restart-review-button {
	margin-top: 55px;
}

#start-button {
	margin-top: 30px;
}

#review-button {
	font-weight: 500;
	color: rgb(11, 101, 198);
	margin-top: 20px;
}
